
body {
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
}

input {
    display: block;
    margin-bottom: 10px;
}

.line {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#block-display {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

#box-2 {   
    display: grid;
    grid-template-rows: 300px 300px;
}

#todays-weather {
    border: 3px solid black;
    margin-bottom: 15px;
}

#card-holder {
    margin-top: 15px;
}

#city-search-form {
    margin: 15px;
}
