
body {
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
}

input {
    display: block;
    margin-bottom: 10px;
}

.line {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.weather-cards{
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 0 Auto;
    
}

.weather-temp{
    margin-left: 5px;
}

.text-detail {
    text-align: center;
}

#block-display {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

#box-2 {   
    display: grid;
    grid-template-rows: 300px 300px;
}

#todays-weather {
    border: 3px solid black;
    margin-bottom: 15px;
}

#card-holder {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
}

#city-search-form {
    margin: 15px;
}
